<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

<select ng-model="selectedName" ng-options="x for x in states">
</select>
<br/>
<select ng-model="selectedcrop" ng-options="x for x in crops">
	
</select>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.states = ["Emil", "Tobias", "Linus"];
});

app.controller('myCtrl', function($scope) {
    $scope.crops = ["Emil", "Tobias", "Linus"];
});


$http.get( "/").success(function( data ) {
  $scope.A= data; //from your sample;
  alert( "Load was performed. " + data );
});
</script>


</body>
</html>




